*{
    margin: 0%;
    padding: 0%;
}
.products{
    display: flex;
    flex-wrap: wrap;
    background-color: #eee;
    justify-content: center;
    aspect-ratio: 1/1;
    gap: 30px;
}
.products img{
    aspect-ratio: 1/1;
    width: 400px;
    height: 400px;
}
.product{
padding:3px ;
border: 2px black solid;
padding: 30px;
width: 400px;
background-color: white;
}
.product h2{
text-align: center;
font-size: 30px;
padding: 10px;
}
.product h2::first-letter{
    
}
.prise-brand{
    display: flex;
    justify-content: space-between;
    padding-top:30px ;
    font-size: 25px;
}



    